requests
lxml
scrapy
pandas
mysql-connector-python
sqlalchemy
matplotlib
seaborn
scikit-learn
xgboost
torch
python-dotenv
rapidfuzz
pickle
#torch torchvision --index-url https://download.pytorch.org/whl/cu126